// common styles for all controls: pid, temp, timers, etc.

.control {
	background-color: rgba(255,255,255,0.1);
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-top: 2px solid #4a4a4a;
	margin: 20px;
	padding: 0 20px 5px 20px;	
	input {
		border-radius: 1px;
		background-color: #000;
		border-width: 0;
		color: $ghost;
		text-align: right;
	}
}

.controls {
	background-color: #4a4a4a;
}

.display-only {
	font-size: 1.8em !important;
	font-weight: bold;
}

.pid .display-only, .temp .display-only {
	color: red !important;
}
.timer .display-only {
	color: rgb(62,201,75) !important;
}

button {
	margin-top: 1em !important;
	width: 100%;
}
